// Run on left monitor
spawn-sh-at-startup "~/.config/niri/scripts/leftmon-split.sh"
spawn-sh-at-startup "flatpak run org.keepassxc.KeePassXC"

// Bottom monitor
spawn-at-startup "flatpak" "run" "dev.vencord.Vesktop"
spawn-at-startup "flatpak" "run" "org.telegram.desktop"

// Notebook monitor
spawn-at-startup "flatpak" "run" "com.spotify.Client"

//Main monitor
spawn-at-startup "firefox"