blur {
    // off
    passes 2
    offset 2
    noise 0.02
    saturation 1.5
}

/* Apps: blur them all without xray for a better look */
window-rule {
  background-effect {
    blur true
    xray true
  }
}
