workspace "main" {
    open-on-output "DP-1"
}

workspace "left" {
    open-on-output "HDMI-A-1"
}

workspace "left-extra" {
    open-on-output "HDMI-A-1"
}

workspace "bottom" {
    open-on-output "DP-3"
}

workspace "notebook" {
    open-on-output "eDP-1"
}

// --- MAIN (DP-1) ---
window-rule {
    match app-id=r#"^firefox-esr$"#
    open-on-workspace "main"
    open-maximized true
}

// --- LEFT (HDMI-A-1) ---
// Используем кастомные классы для kitty, чтобы отличить btop от nvtop
window-rule {
    match app-id="btop-sys"
    open-on-workspace "left"
    // open-maximized true
    // default-window-height { proportion 0.5; }
}
window-rule {
    match app-id="nvtop-sys"
    open-on-workspace "left"
    // open-maximized true
    // default-window-height { proportion 0.5; }
}
window-rule {
    match app-id=r#"(?i)keepassxc"#
    open-on-workspace "left-extra"
    open-maximized true
}

// --- BOTTOM (DP-3) ---
window-rule {
    match app-id=r#"^vesktop$"#
    open-on-workspace "bottom"
}
window-rule {
    match app-id=r#"^org\.telegram\.desktop$"#
    open-on-workspace "bottom"
}

// --- NOTEBOOK (eDP-1) ---
window-rule {
    match app-id=r#"^spotify$"#
    open-on-workspace "notebook"
}

// Left
// kitty с флагом --class, чтобы niri применил правила выше
spawn-sh-at-startup "kitty --class btop-sys -e btop"
spawn-sh-at-startup "sleep 1 && kitty --class nvtop-sys -e nvtop && niri msg action consume-or-expel-window-left"
// spawn-sh-at-startup "sleep 2.5 && niri msg focus-window --app-id nvtop-sys && niri msg action consume-or-expel-window-left"

spawn-sh-at-startup "flatpak run org.keepassxc.KeePassXC"

// Bottom
spawn-at-startup "flatpak" "run" "dev.vencord.Vesktop"
spawn-at-startup "flatpak" "run" "org.telegram.desktop"

// Notebook
spawn-at-startup "flatpak" "run" "com.spotify.Client"

//Main
spawn-at-startup "firefox"

