workspace "main" {
    open-on-output "DP-1"
}

workspace "left" {
    open-on-output "HDMI-A-1"
}

workspace "left-extra" {
    open-on-output "HDMI-A-1"
}

workspace "bottom" {
    open-on-output "DP-3"
}

workspace "notebook" {
    open-on-output "eDP-1"
}

// --- MAIN (DP-1) ---
window-rule {
    match app-id=r#"^firefox-esr$"#
    open-on-workspace "main"
}

// --- LEFT (HDMI-A-1) ---
// Используем кастомные классы для kitty, чтобы отличить btop от nvtop
window-rule {
    match app-id="btop-sys"
    open-on-workspace "left"
}
window-rule {
    match app-id="nvtop-sys"
    open-on-workspace "left"
}
window-rule {
    match app-id=r#"(?i)keepassxc"#
    open-on-workspace "left-extra"
}

// --- BOTTOM (DP-3) ---
window-rule {
    match app-id=r#"^vesktop$"#
    open-on-workspace "bottom"
}
window-rule {
    match app-id=r#"^org\.telegram\.desktop$"#
    open-on-workspace "bottom"
}

// --- NOTEBOOK (eDP-1) ---
window-rule {
    match app-id=r#"^spotify$"#
    open-on-workspace "notebook"
}

// Main
spawn-at-startup "firefox-esr"

// Left
// kitty с флагом --class, чтобы niri применил правила выше
spawn-at-startup "kitty" "--class" "btop-sys" "-e" "btop"
spawn-sh-at-startup "kitty" "--class" "nvtop-sys" "-e" "nvtop" "&" "sleep 0.5" "&&" "niri" "msg" "action" "move-window-down-or-to-workspace-down"
spawn-at-startup "flatpak" "run" "org.keepassxc.KeePassXC"

// Bottom
spawn-at-startup "flatpak" "run" "dev.vencord.Vesktop"
spawn-at-startup "flatpak" "run" "org.telegram.desktop"

// Notebook
spawn-at-startup "flatpak" "run" "com.spotify.Client"

